table {
    width: 280px;
    height: 250px;
    margin: auto;
    font-size: 15px;
    text-align: center; /* 테이블 내부 요소들을 가운데 정렬 */
}

/* input, button 요소 등의 스타일 */
input[type="text"],
input[type="password"],
.btn {
    width: 250px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233,233,233);
    margin-bottom: 10px; /* 각 요소 아래 여백 추가 */
}

.btn {
    width: 263px; /* 버튼 폭 수정 */
    background-color: rgb(61, 135, 255);
    color: white; /* 텍스트 색상 변경 */
}

a {
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-decoration-line: none;
}
